<div>
  <h1 class="titulo">Tortas personalizadas</h1>
  <table>
    <tr>
      <td>
      <!--   <iframe
          loading="lazy"
          style="
            position: absolute;
            width: 750px;
            height: 750px;
            top: 0;
            left: 0;
            border: none;
            padding: 600px 500px 50px 500px;
            margin: auto;
          "
          src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE_wiZsqd4&#x2F;view?embed"
          allowfullscreen="allowfullscreen"
          allow="fullscreen"
        >
        </iframe> -->

        <a
          href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE_wiZsqd4&#x2F;view?utm_content=DAE_wiZsqd4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
          target="_blank"
          rel="noopener"
        ></a>
      </td>
    </tr>
  </table>
  <br />
  <div
    id="whatsapp-icon"
    style="
      position: fixed;
      left: 10px;
      bottom: 10px;
      text-align: center;
      padding: 3px;
    "
  >
    <a href="https://api.whatsapp.com/send?phone=+573136175560">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
        width="50"
        height="50"
    /></a>
  </div>
</div>
