<div>
  <h1 class="titulo">Cupcakes</h1>
  <div class="iframe d-flex justify-content-center">
    <iframe
      loading="lazy"
      src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFAOXhXaAU&#x2F;view?embed"
      allowfullscreen="allowfullscreen"
      allow="fullscreen"
    >
    </iframe>
  </div>
  <a
    href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFAOXhXaAU&#x2F;view?utm_content=DAFAOXhXaAU&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
    target="_blank"
    rel="noopener"
  ></a>
</div>
